#Signup li {
  border-bottom: 1px solid #ccc;
  float: left;
  padding: 15px;
  list-style: none;
  width: 90%;
  padding-left: 5%; }
  #Signup li img {
    width: 100%; }
  #Signup li .title {
    font-size: 18px;
    font-weight: 600; }
  #Signup li .tag {
    margin-top: 5px;
    margin-bottom: 10px; }
    #Signup li .tag span {
      margin-bottom: 10px;
      padding: 2px;
      color: #189adb;
      border: 1px solid #189adb;
      margin-right: 5px; }
  #Signup li .palce {
    margin-bottom: 5px;
    color: #ccc; }
