div{
	#list_2{
		width:100%;
		padding-top:50px;
		li{
			width:100%;
			height:100px;
			img{
				width:130px;
				margin:8px;
				float:left;
			}
			span{
				padding:7px;
				float:right;
				font-size:16px;
				line-height:20px;
				white-space:normal;
				width:200px;
			}
			#right{
				width:200px;
				height:20px;
				float:left;
				margin-top:20px;
				span{
					line-height:5px;
				}
				.onw{
					float:left;
					width:40px;
					font-size:14px;
				}
				.two{
					float:right;
					width:130px;
					font-size:14px;
				}
			}
		}
	}
	footer{
		width:100%;
		height:40px;
		line-height:50px;
		text-align:center;
		font-size:16px;
	}
}