body html{
  width: 100%;
  height: 100%;
}

ul li{
  list-style: none;}


.aaa{
  background-color:#000; 
  width: 100%;
color: #fff;
height:30px;}
  
  

.aaa i{
  font-size: 26px;

}
i:nth-of-type(2){
  
  float: right;
}